#viewportCanvas {
    top: 3em;
    left: 3em;
    position: fixed;
    z-index: 0;

    grid-area: canvas;
    /*border-radius: 10px 0 0 0;*/
    width: calc(100% - 3em);
    height: calc(100% - 3em);
    background-color: var(--secondary-color);
    transition: 0.3s width ease-in-out, 0.3s border-radius ease-in-out;
}

#app {
    top: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 3em calc(100% - 3em);
    grid-template-columns: 3em calc(100% - 3em);
    grid-template-areas:
    "left-bar top-bar"
    "left-bar canvas"
    ;
    background-color: var(--primary-color);
}
button {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0;
    transform-origin: center center;
    transition: 0.1s transform ease-in-out;
}
button:hover {
    transform: scale(1.1);
}
button:active {
    transform: scale(0.9);
}

a {
    color: var(--accent-color);
}
/* Random Universal */

/* Basic UI Elements */
#left-ui {
    width: 3em;
    height: 100%;
    background: var(--primary-color);
    margin: 0;
    border-right: var(--accent-color);
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5em 0 1em 0;
    justify-content: space-between;
    box-sizing: border-box;

    grid-area: left-bar;
}

.left-bar-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#right-ui {
    top: 3em;
    right: 0;
    width: 15em;
    height: calc(100% - 3em);
    background: var(--primary-color);
    margin: 0;
    position: fixed;
    z-index: 2;
    transition: 0.3s ease-in-out transform;
    box-sizing: border-box;
    padding: 1.5em;
}

#right-ui.collapsed {
    transform: translateX(15em);
}

#top-ui {
    width: 100%;
    height: 3em;
    top: 0;
    background: var(--primary-color);
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding-left: 3.5em;
    padding-right: 15em;
    grid-area: top-bar;
    box-sizing: border-box;
}

/* Buttons */
#top-select {
    -webkit-mask-image:  url(/assets/select.svg);
    mask-image: url(assets/select.svg);
    /* top: 4px; */
    position: relative;
}
#top-rotate {
    -webkit-mask-image:  url(/assets/rotate.svg);
    mask-image: url(assets/rotate.svg);
    /* top: 4px; */
    position: relative;
}
#top-resize {
    -webkit-mask-image:  url(/assets/resize.svg);
    mask-image: url(assets/resize.svg);
    /* top: 4px; */
    position: relative;
}


#collapse-right-ui-button {
    position: fixed;
    height: 1em;
    right: 1em;
    transition: 0.3s ease-in-out right, 0.3s ease-in-out transform;
}

#collapse-right-ui-button:not(.collapsed) {
    right: 8.83em;
    transform: rotate(180deg);
}

#settings-button {
    bottom: 1vh;
    -webkit-mask-image:  url(/assets/settings.svg);
    mask-image: url(assets/settings.svg);
}

#add-cylinder-button {
    -webkit-mask-image:  url(/assets/cylinder.svg);
    mask-image: url(assets/cylinder.svg);
    top: 60px;
    position: relative;
}
.close-button {
    -webkit-mask-image:  url(/assets/close.svg);
    mask-image: url(assets/close.svg);
    right: 10px;
    top: 10px;
}
.item-list-field-edit-button {
    -webkit-mask-image:  url(/assets/edit.svg);
    mask-image: url(assets/edit.svg);
    float: right;
}
#socials-container {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    background-color: var(--primary-color);
    padding: 0.5em;
    padding-left: 1.25em;
    border-radius: 0.75em;
    opacity: inherit;
}
#email-button {
    vertical-align: middle;
    height: 2.5em;
    width: 2.5em;
    -webkit-mask-image:  url(/assets/email.svg);
    mask-image: url(assets/email.svg);
    position: relative;
}
#github-button{
    padding: 0;
    vertical-align: middle;
    height: 4em;
    width: 4em;
    -webkit-mask-image:  url(/assets/github-logo.svg);
    mask-image: url(assets/github-logo.svg);
    position: relative;
}

.item-list-field-delete-button {
    -webkit-mask-image:  url(/assets/delete.svg);
    mask-image: url(assets/delete.svg);
    float: right;
}
.item-list-lock-button {
    -webkit-mask-image:  url(/assets/lock.svg);
    mask-image: url(assets/delete.svg);
    float: right;
}
.left-ui-buttons {
    z-index: 2;
    left: 12px;
}
.icon-buttons {
    background-color: var(--accent-color);
    -webkit-mask-size: contain;
    mask-size: contain;
    background-repeat: no-repeat;
    background-position: -2px;
    border: none;
}
.big-icon-buttons{
    height: 32px;
    width: 32px;
    background-size: 32px;
    position: absolute;
}
.small-icon-buttons{
    height: 1.5em;
    width: 1.5em;
    background-size: 1.5em;
    position: relative;
}
.icon-buttons:active{
    background-color: gray;
    transform: translateY(2px);
}
/* Top UI */

.top-field{

}


/* Right UI */

#right-ui-features {
    opacity: 1;
    position: absolute;
    width: calc(100% - 3em);
    height: 77%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5em;
}

.Horizontal-Flex-Container {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}
.Vertical-Flex-Container {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.Space-Between {
    gap: 0;
    justify-content: space-between;
}
.Horizontal-Flex-Container.Space-Between {
    width: 100%;
}
.Space-Between.Vertical-Flex-Container {
    height: 100%;
}

.Max-Width {
    width: 100%;
}

.Big-Gap {
    gap: 1em;
}

#right-ui-items-list {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 23%;
    top: 77%;
}
input[type=color]{
    opacity: inherit;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    border: 1px solid var(--accent-color);
    border-radius: 0.5em;
}
input:hover{
    cursor: pointer;
}
input[type=text]:hover{
    cursor: text;
}
input[type=text]:hover:disabled{
    cursor: not-allowed;
}
input:disabled{
    cursor: not-allowed;
}
#right-features-items-separator {
    opacity: inherit;
    width: 100%;
    height: 3px;
}
#right-ui-item-container {
    opacity: inherit;
    background-color: var(--primary-color);
    position: absolute;
    left: 5px;
    width: calc(100% - 10px);
    height: 85%;
    border-radius: 8px;
    overflow: auto;
}
.right-ui-hr {
    opacity: inherit;
    margin-top: 10px;
    width: 75%;
    text-align: center;
    border-color: #363a43;
    border-width:0;
    height: 2px;
    border-width:0;
    color:var(--primary-color);
    background-color:#2a3346;
}
.right-ui-text {
    opacity: inherit;
    float: left;
}
.title-medium {
    font-size: 1.25em;
}
.title-small {
    font-size: 12px;
}
#object-name {
    display: block;
    opacity: inherit;
    text-align: center;
}
.item-list-field {
    /*opacity: hidden;*/
    margin: 5px;
}
.item-list-editable {
    opacity: inherit;
    width: 45%;
    display: inline;
    background-color: inherit;
    border: none;
    color: inherit;
}

/* Right UI Grid */

.right-ui-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 10px;
    font-size: 12px;
}
#right-color {
    padding: 10px;
    font-size: 12px;
    display: block;
}
.right-text-editable {
    background-color: var(--primary-color);
    border-width: 0 0 2px 0;
    border-bottom-color: var(--accent-color);
    color: var(--accent-color);
    width: 60%;
    margin-left: 3px;
    padding-bottom: 2px;
}
.right-ui-grid-text {
    position: relative;
    top: 3px;
    float: left;
}
.right-ui-grid-headline {
    display: block;
    text-align: center;
}
.right-text-field {
    padding: 10px;
    font-size: 12px;
}
#right-small-headline {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.right-input-field {
    width: 32%;
    display: inline-block;
}
.right-ui-text-editable {
    background-color: var(--primary-color);
    border-width: 0 0 2px 0;
    border-bottom-color: var(--accent-color);
    width: 60%;
    float: right;
    padding-bottom: 2px;
}

/* Settings */
#settings-overlay {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0s visibility, 0.3s opacity;
}

#settings-overlay.collapsed {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity, 0s visibility 0.3s;
}

/*#settings-box {*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    height: 70%;*/
/*    width: 50%;*/
/*    background-color: var(--primary-color);*/
/*    border-radius: 8px;*/
/*    padding: 20px;*/
/*    display: grid;*/
/*    grid-template-rows: 5% 5% 5% 5% 5% calc(75% - 160px);*/
/*    row-gap: 30px;*/
/*}*/
.radio-button{
    left: 0;
    border-radius: 10px;
    position: relative;
}
.radio-big {
    top: 6px;
    height: 32px;
    width: 32px;
    margin-left: 10px;
}

.radio-small {
    top: 0px;
    height: 32px;
    width: 32px;
    margin-left: 10px;
    margin-right: 9px;
}
.theme-button-unselected {
    border-color: #999;
    border-width: 2px;
    border-style: solid;
}

/* .simple-checkmark:after{
    content: "";
    display: none;
} */

/* (A) HIDE DEFAULT CHECKBOX */
.t-toggle input { display: none; }

/* (B) t-toggle BUTTON WRAPPER */
.t-toggle {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  left: 15%;
  top: 15%;
}

.t-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  background-color: var(--primary-color);
  border-radius: 20px;
}

.t-slider::before {

  content: "";
  width: 40%;
  height: 95%;
  position: absolute;
  top: 0px; left: 0;
  background-color: var(--accent-color);
  border-radius: 20px;
}

.t-slider, .t-slider::before { transition: all 0.2s; }
.t-toggle input:checked + .t-slider::before { left: 60%;}

.settings-column-small{
    position: relative;
    display: inline-block;
    height: 80%;
    width: 10%;
}

/* Final Product */

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.text-editable{
    height: 1em;
    width: 2em;
    text-align: center;
    border-width: 0 0 2px 0;
    background-color: var(--primary-color);
    border-bottom-color: var(--accent-color);
    color: var(--accent-color);
}
.checklist{
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.simple-checkmark {
    height: 2em;
    width: 2em;
    margin: 0;
    border: 0.125em solid var(--accent-color);
    border-radius: 0.4em;
    vertical-align: middle;
    cursor: pointer;
}

.simple-checkmark:checked{
    background-color: #fd7014;
    box-shadow: 0 0 0 0.25em inset var(--primary-color);
}
.simple-checkmark:hover{
    filter: brightness(0.95);
}
.simple-radio{
    height: 2em;
    width: 2em;
    margin: 0;
    border: 0.125em solid var(--accent-color);
    border-radius: 0.4em;
    vertical-align: middle;
    cursor: pointer;
}
.radio-surround:checked{
    border-color: #fd7014;
}
.radio-filled:checked{
    background-color: #fd7014;
    box-shadow: 0 0 0 0.25em inset;
}


.title {
    font-size: 30px;
}

#log {
    height: 80%;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 5px;
    backdrop-filter: brightness(0.85);
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent-color);
    border-radius: 10px;
}
#timesteps-span{
    float: right;
}
.simple-button{
    border-radius: 5px;
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    float: right;
    margin-left: 10px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover{
    filter: brightness(0.85);
}
.chapter {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.chapter-medium{
    margin-right: 0.5em;
    font-size: 16px;
}
.block-editable{
    margin-left: 0.3em;
}
#dark-theme-radio {
    background-color: #222831;
}
#light-theme-radio {
    background-color: #EEEEEE;
}
#midnight-theme-radio {
    background-color: #000000;
}
#custom-theme-button {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}
#custom-grid-container {
    font-size: 12px;
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    text-align: center;
    margin-left: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
}
#custom-grid-container * {
    margin: auto;
}

#camera-grid-container{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    text-align: center;
}
#camera-grid-container *{
    margin: auto;
}

#fov-grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 1em;
    text-align: center;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    visibility: hidden;
}

.vectors-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3em;
    text-align: center;
}
#velocity-vectors-container *{
    margin: auto;
}
#force-vectors-container *{
    margin: auto;
}
#fov-text{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
}
#fov-grid-container *{
    margin: auto;
}
#fov-chapter{
    grid-row-start: 1;
    grid-row-end: 3;
}
#fov-slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    border-radius: 1em;
}
#fov-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 1em;
    width: 1em;
    background: var(--accent-color);
    border-radius: 1em
}
#fov-slider::-moz-range-thumb{
    height: 1em;
    width: 1em;
    background: var(--accent-color);
    border-radius: 1em
}

#wireframe-toggle {
    margin-left: 2em;
}

.inline-checkbox{
    margin-left: 0.5em;
}

#notification-popup{
    position: fixed;
    display: inline-block;
    z-index: 5;
    width: 500px;
    background-color: var(--primary-color);
    top: 10px;
    left: calc(50% - 250px);
    border: 2px solid #fd7014;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
    max-height: 20%;
    min-height: 25px;
    opacity: 0;
    visibility: hidden;
}
#notification-popup-text{
    width: 90%;
    margin: 0;
}
#close-notification-popup {
    position: fixed;
    top: 15px;
    right: calc(50% - 260px);
}
.settings-row {
    display: flex;
    align-items: center;
}
#log-container {
    display: block;
}
#json-input{
    display: none;
}
#upload-button {
    -webkit-mask-image:  url(/assets/upload.svg);
    mask-image: url(assets/upload.svg);
    margin-left: 5px;
    position: absolute;
}
#upload-button:hover{
    cursor: pointer;
}

#grid-container {
    display:flex;
}
#collidable-checklist {
    display: inline;
}
.small-inline-checkmark {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.25em
}