:root {
    --primary-color: #1C212E;
    --secondary-color: #f1f2f6;
    --theme: 'dark';
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: var(--secondary-color);
}
canvas {
    top: 40px;
    left: 60px;
    width: calc(100% - 60px);
    height: calc(100% - 40px);
    position: fixed;
    z-index: 0;
}
#app {
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #f1f2f6;
}
button {
    cursor: pointer;
}
/* Random Universal */
.title {
    font-size: 30px;
}
.settings-row {
    margin-top: 50px;
}
.chapter {
    font-size: 20px;
}

/* Basic UI Elements */
#left-ui {
    width: 60px;
    height: 100%;
    background: var(--primary-color);
    margin: 0;
    border-right: var(--secondary-color);
    z-index: 1;
    position: fixed;
}
#right-ui {
    top: 40px;
    right: 0;
    width: 0px; /* This is for when it's hidden */
    height: calc(100% - 40px);
    background: var(--primary-color);
    margin: 0;
    position: fixed;
    z-index: 2;
    visibility: hidden;
}
#top-ui {
    width: calc(100% - 60px);
    height: 40px;
    top: 0;
    left: 60px;
    background: var(--primary-color);
    margin: 0;
    position: fixed;
    z-index: 3;
}

/* Buttons */
#collapse-right-ui-button {
    -webkit-mask-image:  url(/assets/collapse.svg);
    mask-image: url(assets/collapse.svg);
    position: fixed;
    top: 4px;
    right: 8px;
    transform: rotate(180deg);
}
#settings-button {
    bottom: 1vh;
    -webkit-mask-image:  url(/assets/settings.svg);
    mask-image: url(assets/settings.svg);
}
#add-cube-button {
    -webkit-mask-image:  url(/assets/cube.svg);
    mask-image: url(assets/cube.svg);
    top: 50px;
    position: relative;
}
#add-sphere-button {
    -webkit-mask-image:  url(/assets/sphere.svg);
    mask-image: url(assets/sphere.svg);
    top: 60px;
    position: relative;
}
.close-button {
    -webkit-mask-image:  url(/assets/close.svg);
    mask-image: url(assets/close.svg);
    right: 10px;
    top: 10px;
}
.item-list-field-edit-button {
    -webkit-mask-image:  url(/assets/edit.svg);
    mask-image: url(assets/edit.svg);
    float: right;
}
.item-list-field-delete-button {
    -webkit-mask-image:  url(/assets/delete.svg);
    mask-image: url(assets/delete.svg);
    float: right;
}
.item-list-lock-button {
    -webkit-mask-image:  url(/assets/lock.svg);
    mask-image: url(assets/delete.svg);
    float: right;
}
.left-ui-buttons {
    z-index: 2;
    left: 12px;
}
.icon-buttons {
    background-color: var(--secondary-color);
    -webkit-mask-size: contain;
    mask-size: contain;
    background-repeat: no-repeat;
    background-position: -2px;
    border: none;
    visibility: visible;
}
.big-icon-buttons{
    height: 32px;
    width: 32px;
    background-size: 32px;
    position: absolute;
}
.small-icon-buttons{
    height: 24px;
    width: 24px;
    background-size: 24px;
    position: relative;
}
.icon-buttons:active{
    background-color: gray;
    transform: translateY(2px);
}

/* Right UI */

#right-ui-features {
    opacity: 0;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 50%;
}
#right-ui-items-list {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
}
#color-picker {
    opacity: inherit;
    position: relative;
    border: hidden;
    background-color: rgba(255, 255, 255, 0);
    /* float: right; */
    top: 4px;
    margin-left: 5px;
}
#right-features-items-separator {
    opacity: inherit;
    width: 100%;
    height: 3px;
}
#right-ui-item-container {
    opacity: inherit;
    background-color: var(--primary-color);
    position: absolute;
    left: 5px;
    width: calc(100% - 10px);
    height: 88%;
    border-radius: 8px;
}
.right-ui-hr {
    opacity: inherit;
    margin-top: 10px;
    width: 75%;
    text-align: center;
    border-color: #363a43;
    border-width:0;
    height: 2px;
    border-width:0;
    color:var(--primary-color);
    background-color:#2a3346;
}
.right-ui-text {
    opacity: inherit;
    float: left;
}
.right-title {
    margin-bottom: 5px;
    width: 100%;
    opacity: inherit;
    display: block;
    text-align: center;
}
.title-medium {
    height: 20px;
    font-size: 16px;
}
.title-small {
    font-size: 12px;
}
#object-name {
    display: block;
    opacity: inherit;
    text-align: center;
}
.item-list-field {
    opacity: hidden;
    margin: 5px;
}
.item-list-editable {
    opacity: inherit;
    width: 50%;
    display: inline;
    background-color: inherit;
    border: none;
    color: inherit;
}

/* Right UI Grid */

.right-ui-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 10px;
    font-size: 12px;
}
#right-color {
    padding: 10px;
    font-size: 12px;
    display: block;
}
.right-text-editable {
    background-color: var(--primary-color);
    border-width: 0 0 2px 0;
    border-bottom-color: var(--secondary-color);
    width: 60%;
    margin-left: 3px;
    padding-bottom: 2px;
}
.right-ui-grid-text {
    position: relative;
    top: 3px;
    float: left;
}
.right-ui-grid-headline {
    display: block;
    text-align: center;
}
#right-ui-rotation {
    padding: 10px;
    font-size: 12px;
}
#right-small-headline {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.right-rotation-field {
    width: 32%;
    display: inline-block;
}
.right-ui-text-editable {
    background-color: var(--primary-color);
    border-width: 0 0 2px 0;
    border-bottom-color: var(--secondary-color);
    width: 60%;
    float: right;
    padding-bottom: 2px;
}

/* Settings */
#settings-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    /* opacity: 0; */
    visibility: hidden;
}
#settings-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 50%;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 20px;
}
#dark-theme-button {
    background-color: #1C212E;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    top: 6px;
}
#light-theme-button {
    background-color: #f1f2f6;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    top: 6px;
}
.theme-button-selected {
    border-color: orange;
    border-width: 2px;
    border-style: solid;
}
.theme-button-unselected {
    border-color: #999;
    border-width: 2px;
    border-style: solid;
}
#midnight-theme-radio {
    background-color: black;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid #999;
}
.settings-row input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    margin: 0px;
}
.settings-row input:checked {
    border: 2px solid orange;
}
