body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
canvas {
    top: 4%;
    left: 4%;
    width: 84%;
    height: 96%;
    position: absolute;
    z-index: 3;
}
#app {
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #f1f2f6;
}
#left-ui {
    width: 4%;
    height: 100%;
    background: #1C212E;
    margin: 0;
    min-width: 50px;
    z-index: 1;
}
#right-ui {
    top: 0;
    right: 0;
    width: 12%;
    height: 100%;
    background: #1C212E;
    margin: 0;
    position: absolute;
    min-width: 170px;
    z-index: 0;
}
#top-ui {
    width: 84%;
    height: 4%;
    top: 0;
    left: 4%;
    background: #212836;
    margin: 0;
    position: absolute;
    z-index: 1;
}
#collapse-right-ui {
    background-color: Transparent;
    background-image: url(/assets/collapse-right-white.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: -2px;
    height: 24px;
    width: 24px;
    position: fixed;
    border: none;
    top: 0.55%;
    right: 10%;
    visibility: visible;
    z-index: 2;
}
#right-ui-features {
    padding-top: 5vh;
    position: absolute;
    color: white;
    width: 100%;
    height: 50%;
}
#color-picker {
    position: relative;
    border: hidden;
    background-color: rgba(255, 255, 255, 0);
    float: right;
    top: -2px;
    margin-left: 5px;
}
#right-ui-items {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
}
#right-features-items-separator {
    width: 100%;
    height: 3px;
}
#right-ui-item-container {
    background-color: #212836;
    position: absolute;
    left: 5px;
    width: calc(100% - 10px);
    height: 88%;
    border-radius: 8px;
}
#settings-overlay {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    /* opacity: 0; */
    visibility: hidden;
}
#settings-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 50%;
    background-color: rgba(28, 33, 46, 0);
    color: white;
    border-radius: 8px;
    padding: 20px;
}
#dark-theme-radio {
    background-color: #1C212E;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid #999;
}
#light-theme-radio {
    background-color: white;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid #999;
}
#midnight-theme-radio {
    background-color: black;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid #999;
}
#settings-button {
    background-image: url(/assets/settings-white.png);
    bottom: 1vh;
}
.right-ui-hr {
    margin-top: 10px;
    width: 75%;
    text-align: center;
    border-color: #363a43;
    border-width:0;
    height: 2px;
    border-width:0;
    color:#212836;
    background-color:#2a3346;
}
.right-ui-text {
    float: left;
}
.right-ui-field {
    color: white;
    margin-bottom: 5px;
    padding-left: 10px;
    width: 90%;
    height: 20px;
    opacity: inherit;
}
.object-name {
    color: white;
    text-align: center;
}
.item-list-field {
    color: white;
    margin: 5px;
}
.item-list-field-button {
    background-color: Transparent;
    background-image: url(/assets/edit-white.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: -2px;
    height: 24px;
    width: 24px;
    position: relative;
    float: right;
    top: -2px;
    margin-left: 5px;
    border: none;
    visibility: visible;
    z-index: 2;
}
.item-list-editable {
    width: 50%;
    display: inline;
    background-color: inherit;
    border: none;
    color: inherit;
}
.close-button {
    background-color: Transparent;
    background-image: url(/assets/close-white.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: -2px;
    height: 24px;
    width: 24px;
    float: right;
    border: none;
    position: relative;
}
.title {
    font-size: 30px;
}
.settings-row {
    margin-top: 50px;
}
.chapter {
    font-size: 20px;
}
.settings-row input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    margin: 0px;
}
.settings-row input:checked {
    border: 2px solid orange;
}
.left-ui-buttons {
    background-color: Transparent;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: -2px;
    height: 32px;
    width: 32px;
    position: absolute;
    border: none;
    visibility: visible;
    z-index: 2;
    left: calc(2% - 16px);
}