.slider-value {
    display: inline-block;
    width: 3.5em;
    height: 1.25em;
    text-align: center;
    pointer-events: none;
    position: absolute;
    top: -0.375em;
    left: calc(27.2727% - 0.954545em); /* Calculated using js for the position of 1x */
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 10px;
    border: 1px solid var(--accent-color);
}

.slider-container {
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 0.5em;
    font-size: inherit;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.25em;
    width: 3.5em;
    border-radius: 10px;
    cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

#bottom-left-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.title-bar {
    display: flex;
    justify-content: space-between;
}

/* Settings */
#settings-box {
    left: 3em;
    width: 20em;
    height: calc(100% - 3em);
    position: fixed;
    top: 3em;
    background-color: var(--primary-color);
    transition: 0.375s ease-in-out transform;
    padding: 0.75em;
    box-sizing: border-box;

    display: flex;
    gap: 1em;
    flex-direction: column;
}

#settings-box.collapsed {
    transform: translateX(-23em);
}

.settings-subsection {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.settings-subsubsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5em;
    gap: 1em;
}

.settings-subsection-title {
    margin-bottom: 1em;
    margin-top: 1em;
}

.settings-content {
    display: flex;
    gap: 1em;
}

.theme-label {
    text-align: center;
}

.theme-button-container {
    display: flex;
    justify-content: center;
}

.theme-radio-button {
    height: 2em;
    width: 2em;
    margin: 0;
    border: 0.125em solid var(--accent-color);
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out;
}

.theme-radio-button:checked {
    border-color: var(--selected-color);
}

#camera-type-container {
    gap: 0;
}

#camera-type-container input {
    display: none;
}

#camera-type-container label {
    border: 2px solid var(--accent-color);
    padding: 0.5em;
    transition: border-color 0.15s ease-in-out;
}

#camera-type-container label:first-of-type {
    border-radius: 0.5em 0 0 0.5em;
}

#camera-type-container label:last-of-type {
    border-radius: 0 0.5em 0.5em 0;
}

#camera-type-container input[type="radio"]:checked + label {
    border-color: var(--selected-color);
}

/* Timeline */
#timeline-box {
    position: fixed;
    top: 3em;
    left: 3em;
    height: calc(100% - 3em);
    width: 25em;
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out transform;
    padding: 0.75em;
    box-sizing: border-box;

    display: flex;
    gap: 1em;
    flex-direction: column;
}
#timeline-box.collapsed {
    transform: translateX(-28em);
}

#timeline-container {
    height: 45%;
    width: 100%;
}
#timeline-parameters {
    grid-area: parameters;
}

#timeline-title-bar {
    grid-area: title-bar;
}

/* Rounded corners */
#rounded-corner-left {
    position: fixed;
    background-color: transparent;
    top: 3em;
    left: 3em;
    height: 20px;
    width: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 -10px 0 0 var(--primary-color);
    transition: 0.2s ease-in-out left;
}

#rounded-corner-left.extended {
    left: 23em;
}

#rounded-corner-left.double-extended {
    left: 28em;
}

#rounded-corner-right {
    position: fixed;
    background-color: transparent;
    top: 3em;
    right: -10px;
    height: 20px;
    width: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -10px 0 0 var(--primary-color);
    transition: 0.3s ease-in-out right;
}

#rounded-corner-right:not(.collapsed) {
    right: 17.5em;
}

/* Table */
.table-container {
    border-radius: 5px;
    overflow: hidden;
    font-size: 0.875rem;
}
.table-header {
    background-color: var(--secondary-color);
    display: grid;
    padding: 0.75em;
    gap: 0.5em;
    height: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--primary-color);
    box-sizing: border-box;
    line-height: 1.5em;
}

.table-body > div {
    background-color: var(--secondary-color);
    display: grid;
    padding: 1em;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--primary-color);
}

.table-body {
    height: calc(100% - 3em);
    overflow: auto;
    background-color: var(--secondary-color);
}

/* Right ui elements */
.right-appearance-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "color dimensions"
        "mass dimensions";
    row-gap: 0.75em;
    column-gap: 1.5em;
    width: 100%;
}

#dimensions-container {
    width: auto;
    grid-area: dimensions;
}

.right-title-small {
    flex-shrink: 0;
    display: inline-block;
    width: 0.75em;
}

.right-properties-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    width: 100%;
}

#acceleration-title {
    height: 2.4em;
    line-height: 2.4em;
}

#right-ui-properties input {
    width: 3.5em;
}

#right-ui-list-container {
    flex-grow: 1;
    overflow: hidden;
}

#right-ui-objects-list {
    background-color: var(--secondary-color);
    width: 100%;
    border-radius: 5px;
    padding: 0.5em;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;

    display: flex;
    gap: 0.5em;
    flex-direction: column;
    border: 0.5em solid var(--secondary-color);
}

.right-ui-object {
    width: 100%;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.right-ui-object > .material-symbols-outlined {
    font-size: inherit;
    line-height: 1.5;
}

.right-ui-object-name {
    flex-grow: 1;
}
.Radio-Input {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    border: 0.125em solid var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: 0.15s border-width ease-in-out;
}

.Radio-Input:checked {
    border-width: 0.375em;
}
