/* Rounded corners */
#rounded-corner-left {
    position: fixed;
    background-color: transparent;
    top: 3em;
    left: 3em;
    height: 20px;
    width: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 -10px 0 0 var(--primary-color);
    transition: 0.2s ease-in-out left;
}

#rounded-corner-left.extended {
    left: 23em;
}

#rounded-corner-left.double-extended {
    left: 28em;
}

#rounded-corner-right {
    position: fixed;
    background-color: transparent;
    top: 3em;
    right: -10px;
    height: 20px;
    width: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -10px 0 0 var(--primary-color);
    transition: 0.3s ease-in-out right;
}

#rounded-corner-right:not(.collapsed) {
    right: 17.5em;
}

#viewportCanvas {
    top: 3em;
    left: 3em;
    position: fixed;
    z-index: 0;

    grid-area: canvas;
    /*border-radius: 10px 0 0 0;*/
    width: calc(100% - 3em);
    height: calc(100% - 3em);
    background-color: var(--secondary-color);
    transition: 0.3s width ease-in-out, 0.3s border-radius ease-in-out;
}

#app {
    top: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 3em calc(100% - 3em);
    grid-template-columns: 3em calc(100% - 3em);
    grid-template-areas:
    "left-bar top-bar"
    "left-bar canvas"
;
    background-color: var(--primary-color);
}

.info-button {
    font-size: inherit;
    padding: 0;
    line-height: normal;
}

.Tooltip-Container {
    position: fixed;
    z-index: 2;

    background: var(--secondary-color);
    padding: 8px 12px;
    border: 1px solid var(--outline-color);
    border-radius: 8px;
    width: 15em;

    transition: opacity 0.2s ease-in-out, left 0s, scale 0.2s ease, translate 0.2s ease;
    opacity: 1;
    scale: 1;
    translate: 0 0;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

.Tooltip-Container.Collapsed {
    left: calc(100% + 1000px) !important;
    transition-delay: 0s, 0.2s, 0s, 0s;

    opacity: 0;
    scale: 0.9;
    translate: 0 10px;
}

.input-with-pop-up-label {
    position: relative;
}

.popup-label {
    font-size: 0.65rem;
    position: absolute;
    background: var(--secondary-color);
    padding: 2px 4px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    bottom: calc(-2em - 8px);
    width: 3.5em;
    box-sizing: border-box;

    text-align: center;

    left: calc(50% - 1.75em);

    transition: all 0.2s ease-in-out;
    transition-delay: 0.2s;

    opacity: 0;
    scale: 0.9;
    translate: 0 2px;
}

/* Modal styles */
.modal-overlay {
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: z-index 0.01s, opacity 0.2s ease;
    transition-delay: 0s, 0.01s;
}

.modal-overlay.collapsed {
    z-index: -1;
    opacity: 0;

    transition-delay: 0.2s, 0s;
}

.modal-overlay.collapsed .modal {
    scale: 0.9;
}

.modal {
    max-width: 40%;
    background-color: var(--primary-color);
    padding: 24px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    transition: scale 0.2s ease;
    scale: 1;
}

.modal-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-title {
    margin: 0;
}

.modal-content {
    flex-grow: 1;

    display: flex;
    align-items: center;
}

.modal-description {
    opacity: 0.6;
}

.modal-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Select styles */
.select-container {
    flex-grow: 1;
    width: 25%;
    position: relative;
    transition: 0.2s opacity ease;
}

.select-container.Disabled .select-main-container {
    opacity: 0.37;
    cursor: not-allowed;
}

.select-main-container {
    box-sizing: border-box;
    padding: 14px;
    border-radius: 8px;
    height: calc(1.5em + 28px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    background-color: var(--secondary-color);
    opacity: 0.87;
}

.select-container .material-symbols-outlined {
    transition: transform 0.2s ease;
}

.select-container.extended .material-symbols-outlined {
    transform: rotate(180deg);
}

.select-container.extended .select-options-container {
    opacity: 1;
    scale: 1;
    translate: 0 0;
    visibility: visible;

    transition-delay: 0s, 0.01s, 0.01s, 0.01s;
}

.select-options-container {
    position: absolute;
    top: calc(2.5em + 28px);
    left: 10px;
    overflow: auto;

    width: calc(100% - 20px);
    max-height: calc(5.25em + 46px);

    box-sizing: border-box;
    padding: 4px 8px 4px 4px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    background-color: var(--secondary-color);
    outline: 10px solid var(--secondary-color);

    transition: visibility 0.01s, opacity 0.2s ease, scale 0.2s ease, translate 0.2s ease;
    transition-delay: 0.2s, 0s, 0s, 0s;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

    opacity: 0;
    scale: 0.9;
    translate: 0 -10px;
    visibility: hidden;

    z-index: 5;
}

.select-option {
    padding: 8px;
    border-radius: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;
}

.select-option:hover {
    background-color: var(--primary-color);
}

.select-main-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}