/* Rounded corners */
#rounded-corner-left {
    position: fixed;
    background-color: transparent;
    top: 3em;
    left: 3em;
    height: 20px;
    width: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 -10px 0 0 var(--primary-color);
    transition: 0.2s ease-in-out left;
}

#rounded-corner-left.extended {
    left: 23em;
}

#rounded-corner-left.double-extended {
    left: 28em;
}

#rounded-corner-right {
    position: fixed;
    background-color: transparent;
    top: 3em;
    right: -10px;
    height: 20px;
    width: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -10px 0 0 var(--primary-color);
    transition: 0.3s ease-in-out right;
}

#rounded-corner-right:not(.collapsed) {
    right: 17.5em;
}

#viewportCanvas {
    top: 3em;
    left: 3em;
    position: fixed;
    z-index: 0;

    grid-area: canvas;
    /*border-radius: 10px 0 0 0;*/
    width: calc(100% - 3em);
    height: calc(100% - 3em);
    background-color: var(--secondary-color);
    transition: 0.3s width ease-in-out, 0.3s border-radius ease-in-out;
}

#app {
    top: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 3em calc(100% - 3em);
    grid-template-columns: 3em calc(100% - 3em);
    grid-template-areas:
    "left-bar top-bar"
    "left-bar canvas"
;
    background-color: var(--primary-color);
}

.info-button {
    font-size: inherit;
    padding: 0;
    line-height: normal;
}

.Tooltip-Container {
    position: fixed;
    z-index: 2;

    background: var(--secondary-color);
    padding: 8px 12px;
    border: 1px solid var(--accent-color);
    border-radius: 8px;

    opacity: 1;
    transition: opacity 0.2s ease-in-out, left 0s;
    width: 15em;
}

.Tooltip-Container.Collapsed {
    opacity: 0;
    transition-delay: 0s, 0.2s;
    left: calc(100% + 1000px) !important;
}

.input-with-pop-up-label {
    position: relative;
}

.popup-label {
    font-size: 0.65rem;
    position: absolute;
    background: var(--secondary-color);
    padding: 2px 4px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    bottom: calc(-2em - 8px);
    height: 1.25em;
    width: 2.5em;

    text-align: center;

    left: calc(50% - 1.675em);

    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.2s;
}