:root {
    --selected-color: #fd7014;
}

.light-theme {
    --primary-color: #ffffff;
    --accent-color: #000000;
    --secondary-color: #fafafa;
}

.dark-theme {
    --primary-color: #2b2d30;
    --accent-color: #eaeaeb;
    --secondary-color: #1e1f22;
}

.midnight-theme {
    --primary-color: #000000;
    --accent-color: #eaeaeb;
    --secondary-color: #1e1f22;
}

/* Built-in elements */
h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

button {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: inherit;
    transform-origin: center center;
    transition: 0.2s filter ease-in-out, 0.2s scale ease-in-out;
    filter: brightness(0.5);
}
button:hover {
    filter: brightness(1);
}
button:active {
    filter: brightness(0.75);
    scale: 0.9;
}

input[type="checkbox"].Toggle-Input {
    width: 2.5em;
    height: 1.5em;
    background-color: var(--secondary-color);
    border-radius: 100px;
    position: relative;
    flex-shrink: 0;
}

input[type="checkbox"].Toggle-Input:after {
    position: absolute;
    content: '';
    left: 0.25em;
    top: calc(50% - 0.5em);
    border-radius: 100px;
    width: 1em;
    height: 1em;
    background-color: var(--accent-color);
    transition: left 0.2s ease-in-out, transform 0.2s ease-in-out;
}

input[type="checkbox"].Toggle-Input:hover:after {
    transform: scale(1.1);
}

input[type="checkbox"].Toggle-Input:checked:after {
    left: calc(100% - 1.25em)
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 0.25em 0.5em;
    color: var(--accent-color);
}

label {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: var(--accent-color);
}

/* Typography */
.Label {
    opacity: 0.45;
    font-size: 0.75rem;
}
.Title-Small {
    font-size: 0.875rem;
}
.Tooltip-Small {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

/* Separators */
.horizontal-separator {
    height: 0;
    width: 1em;
    border: 1px solid var(--accent-color);
    opacity: 0.2;
}
.horizontal-separator.max-width {
    width: 90%;
}

.vertical-separator {
    height: 1em;
    width: 0;
    border: 1px solid var(--accent-color);
    opacity: 0.2;
    margin: 0;
}

/* Containers */
.Horizontal-Flex-Container {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}
.Vertical-Flex-Container {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.Small-Gap {
    gap: 0.375em;
}

.Align-Bottom {
    align-items: baseline;
}

.Space-Between {
    gap: 0;
    justify-content: space-between;
}
.Horizontal-Flex-Container.Space-Between {
    width: 100%;
}
.Space-Between.Vertical-Flex-Container {
    height: 100%;
}

.Max-Width {
    width: 100%;
}

.Big-Gap {
    gap: 2em;
}