:root {
    --selected-color: #fd7014;
}

.light-theme {
    --primary-color: #ffffff;
    --accent-color: #272727;
    --secondary-color: #f2f2f7;
    --outline-color: #79747E;
}

.dark-theme {
    --primary-color: #2b2d30;
    --accent-color: #eaeaeb;
    --secondary-color: #1e1f22;
    --outline-color: #938F99;
}

.midnight-theme {
    --primary-color: #1e1f22;
    --accent-color: #eaeaeb;
    --secondary-color: #000000;
    --outline-color: #938F99;
}

/* Built-in elements */

h1 {
    font-weight: 400;
}
h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

a {
    color: var(--accent-color);
}

button {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: inherit;
    transform-origin: center center;
    transition: 0.2s opacity ease-in-out, 0.1s scale ease-in-out, 0.2s background-color ease-in-out;
    padding: 6px;
    border-radius: 8px;
    opacity: 0.6;
}
button:hover:enabled:not(.Button-Selected) {
    opacity: 0.87;
}
button:active:enabled {
    opacity: 0.87;
    scale: 0.9;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.38;
}

button.Button-Selected {
    background: var(--primary-color);
    filter: brightness(1.6);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: var(--accent-color);
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;

    transition: opacity 0.15s ease-in-out;
}

/* Scroll bar*/
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    filter: brightness(0.85);
}

/* Inputs */
input:hover{
    cursor: pointer;
}
input[type=text]:hover{
    cursor: text;
}
input[type=text]:hover:disabled{
    cursor: not-allowed;
}
input:disabled{
    cursor: not-allowed;
    opacity: 0.38;
}

input[type=color]{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    border: 1px solid var(--accent-color);
    border-radius: 0.5em;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 0.5em;
    font-size: inherit;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.25em;
    width: 3.5em;
    border-radius: 10px;
    cursor: ew-resize;
}
input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="checkbox"].Toggle-Input {
    width: 2.5em;
    height: 1.5em;
    background-color: var(--secondary-color);
    border-radius: 100px;
    position: relative;
    flex-shrink: 0;
}

input[type="checkbox"].Toggle-Input:after {
    position: absolute;
    content: '';
    left: 0.25em;
    top: calc(50% - 0.5em);
    border-radius: 100px;
    width: 1em;
    height: 1em;
    background-color: var(--accent-color);
    transition: left 0.2s ease-in-out, transform 0.2s ease-in-out;
}

input[type="checkbox"].Toggle-Input:hover:after {
    transform: scale(1.1);
}

input[type="checkbox"].Toggle-Input:checked:after {
    left: calc(100% - 1.25em)
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 0.25em 0.5em;
    color: var(--accent-color);
    opacity: 0.87;
}

input[type="text"]:disabled {
    opacity: 0.6;
}



/* Typography */
.Label {
    opacity: 0.6;
    font-size: 0.75rem;
    line-height: 0.75rem;

    transition: opacity 0.15s ease-in-out;
}
.Label-Small {
    opacity: 0.6;
    font-size: 0.65rem;
}

.Title-Small {
    font-size: 0.875rem;
    transition: opacity 0.15s ease-in-out;
}
.Tooltip-Small {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

/* Separators */
.horizontal-separator {
    height: 0;
    width: 1em;
    border: 1px solid var(--accent-color);
    opacity: 0.2;
}
.horizontal-separator.max-width {
    width: 90%;
}

.vertical-separator {
    height: 1em;
    width: 0;
    border: 1px solid var(--accent-color);
    opacity: 0.2;
    margin: 0;
}

/* Containers */
.Horizontal-Flex-Container {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    align-items: center;
}
.Vertical-Flex-Container {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.Small-Gap {
    gap: 0.375em;
}

.Align-Bottom {
    align-items: baseline;
}

.Align-Top {
    align-items: flex-start;
}

.Space-Between {
    gap: 0;
    justify-content: space-between;
}
.Horizontal-Flex-Container.Space-Between {
    width: 100%;
}
.Space-Between.Vertical-Flex-Container {
    height: 100%;
}

.Max-Width {
    width: 100%;
}

.Big-Gap {
    gap: 2em;
}

/* Slider */

.slider-value {
    display: inline-block;
    width: 3.5em;
    height: 1.25em;
    text-align: center;
    pointer-events: none;
    position: absolute;
    top: -0.375em;
    left: calc(27.2727% - 0.954545em); /* Calculated using js for the position of 1x */
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 10px;
    border: 1px solid var(--accent-color);

    transition: opacity 0.15s ease-in-out;
}

input:disabled ~ .slider-value {
    opacity: 0.38;
    cursor: not-allowed;
}

.slider-container {
    position: relative;
}

/* Table */
.table-container {
    border-radius: 5px;
    overflow: hidden;
    font-size: 0.875rem;
    outline: 10px solid var(--secondary-color);
    box-sizing: border-box;
    width: calc(100% - 20px);
    margin: 10px 0 10px 10px;
}

.table-header {
    background-color: var(--secondary-color);
    display: grid;
    padding: 0.75em;
    gap: 0.5em;
    height: 3em;
    grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
    border-bottom: 1px solid var(--primary-color);
    box-sizing: border-box;
    line-height: 1.5em;
}

.table-body > div {
    background-color: var(--secondary-color);
    display: grid;
    padding: 1em;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
    border-bottom: 1px solid var(--primary-color);
}

.table-body {
    height: calc(100% - 3em);
    overflow: auto;
    background-color: var(--secondary-color);
}

/* Radio */
.Radio-Input {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    border: 0.125em solid var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: 0.15s border-width ease-in-out;
}

.Radio-Input:checked {
    border-width: 0.375em;
}

/* etc */
.title-bar {
    display: flex;
    justify-content: space-between;
}

.Clickable {
    cursor: pointer;
}

.Button {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: inherit;
    transform-origin: center center;
    transition: 0.2s filter ease-in-out, 0.2s scale ease-in-out, 0.2s background-color ease-in-out;
    filter: brightness(0.6);
    padding: 6px;
    border-radius: 8px;
}

.Button:hover {
    filter: brightness(0.87);
}

.Button:enabled {
    filter: brightness(0.87);
    scale: 0.9;
}

@keyframes moveLeftAndRight {
    0%, 50%, 100% {
        transform: translateX(0); /* Start and end position, no horizontal movement */
    }
    25% {
        transform: translateX(-2px); /* Move 20px to the left */
    }
    75% {
        transform: translateX(2px); /* Move 20px to the right */
    }
}

svg {
    animation: moveLeftAndRight 2s linear infinite; /* Adjust the duration as needed */
}

path {
    fill: var(--primary-color);
    stroke: var(--accent-color);
    stroke-width: 75;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.Normal-Button {
    font-size: 1.25rem;
    background-color: var(--secondary-color);
    border-radius: 500px;
    color: var(--accent-color);
    padding: 0.5em 0.75em;
}
.Normal-Button.Small {
    font-size: 1rem;
}

input.Big-Text-Input {
    background: none;
    border: none;
    font-size: 1.17em;
    color: var(--accent-color);
    cursor: unset;
    transition: 0.1s border-color ease-in-out;
    border-bottom: 1px solid transparent;
    border-radius: 0;
}
input.Big-Text-Input:disabled {
    color: var(--accent-color);
    opacity: 0.38;
    cursor: not-allowed;
}
input.Big-Text-Input:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--accent-color);
}