#settings-box {
    left: 3em;
    width: 20em;
    height: calc(100% - 3em);
    position: fixed;
    top: 3em;
    background-color: var(--primary-color);
    transition: 0.375s ease-in-out transform;
    padding: 0.75em;
    box-sizing: border-box;

    display: flex;
    gap: 1em;
    flex-direction: column;
}

#settings-box.collapsed {
    transform: translateX(-23em);
}

.settings-subsection {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.settings-subsection.Disabled .Title-Small {
    opacity: 0.38;
}

.settings-subsection.Disabled .Label {
    opacity: 0.38;
}

.settings-subsubsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5em;
    gap: 1em;
}

.settings-subsection-title {
    margin-bottom: 1em;
    margin-top: 1em;
}

.settings-content {
    display: flex;
    gap: 1em;
}

.theme-radio-button {
    height: 2em;
    width: 2em;
    margin: 0;
    border: 0.125em solid var(--accent-color);
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, border-width 0.15s ease-in-out;
}

.theme-radio-button:checked {
    border-color: var(--selected-color);
    border-width: 0.250em solid var(--accent-color);
}

#camera-type-container {
    gap: 0;
}

#camera-type-container input {
    display: none;
}

#perspective-camera-radio + label, #orthographic-camera-radio + label {
    border: 2px solid var(--accent-color);
    padding: 0.5em;
    transition: border-color 0.15s ease-in-out;
    font-size: 0.75rem;
}

#perspective-camera-radio + label {
    border-radius: 500px 0 0 500px;
    border-right-width: 1px;
}

#orthographic-camera-radio + label {
    border-radius: 0 500px 500px 0;
    border-left-width: 1px;
}

#orthographic-camera-radio:checked + label,
#perspective-camera-radio:checked + label {
    border-color: var(--selected-color);
}

#perspective-camera-radio:checked ~ #orthographic-camera-label {
    border-left-color: var(--selected-color);
}

#perspective-camera-label:has(+ #orthographic-camera-radio:checked) {
    border-right-color: var(--selected-color);
}

#upload-button-input {
    display: none;
}

#dark-theme-radio {
    background-color: #222831;
}
#light-theme-radio {
    background-color: #EEEEEE;
}
#midnight-theme-radio {
    background-color: #000000;
}

#midnight-theme-radio-label {
    width: 5em;
    left: calc(50% - 2.5em);
}

#dark-theme-radio:hover ~ #dark-theme-radio-label {
    opacity: 1;
    scale: 1;
    translate: 0 0;
}

#light-theme-radio:hover ~ #light-theme-radio-label {
    opacity: 1;
    scale: 1;
    translate: 0 0;
}

#midnight-theme-radio:hover ~ #midnight-theme-radio-label {
    opacity: 1;
    scale: 1;
    translate: 0 0;
}