#timeline-box {
    position: fixed;
    top: 3em;
    left: 3em;
    height: calc(100% - 3em);
    width: 25em;
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out transform;
    padding: 1.25em 0.75em;
    box-sizing: border-box;

    display: flex;
    gap: 1em;
    flex-direction: column;
}
#timeline-box.collapsed {
    transform: translateX(-28em);
}

#timeline-container {
    height: calc(45% - 20px);
}
#timeline-parameters {
    grid-area: parameters;
    flex-grow: 1;
}

#timeline-title-bar {
    grid-area: title-bar;
}

#events-table {
    flex-grow: 1;
    overflow: auto;
}

#events-table .table-header {
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
}

#events-table .table-body > div {
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    align-items: center;
}

#events-table .material-symbols-outlined {
    line-height: 1.5em;
    font-size: inherit;
    padding: 0;
}

#add-event-button-container {
    justify-content: flex-end;
}

#add-event-button {
    flex-grow: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    box-sizing: border-box;
}

#events-header {
    margin-top: 10px;
}